{% if parents and parents|length > 0 %}
<ul class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	{% for parent in parents %}
		<li>
			<a onclick="addSlotURL(this);" href="{{ url_prefix }}{{ parent.route | abs_url }}" itemprop="url">
			<span itemprop="title">{{ parent.title or parent.label or parent.name or "" }}</span>
			</a>
		</li>
	{% endfor %}
	<li class="active"><span itemprop="title">{{ title or "" }}</span></li>
</ul>
{% endif %}

<script>
function addSlotURL(element)
{
    $(element).attr('href', function() {
    	var pickup_slot = frappe.get_cookie("pickup_slot")

		if (typeof pickup_slot === 'undefined') {
			var loc = new URL(this.href);
			return "/creneau?redirect-to=" + encodeURIComponent(loc.pathname);
		} else {
			return this.href + '?creneau=' + encodeURIComponent(pickup_slot);
        }
    });
}
</script>